body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #54BAB9;
  width: 100px;
  height: 100px;
  border: solid 10px;
  padding: 20px;

}

.middle-container {
  background-color: red;
  width: 100px;
  height: 100px;
  padding: 20px;
  border: solid 10px;
  margin-left: 277px
}

.bottom-container {
  background-color: blue;
  width: 100px;
  height: 100px;
  padding: 20px;
  border: solid 10px;
  margin-left: 555px
}
